<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header>
        <h1>Login portal</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" th:action="@{/login}" th:object="${userLogin}" method="post">
            <div class="form_div">
                <label>Login:</label>
                <input class="field_class" name="login_txt" type="text" th:field="*{emailId}" placeholder="Insira o seu login" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password_txt" type="password" th:field="*{password}" placeholder="Insira a sua senha">
                <button class="submit_class" type="submit" form="login_form">Enter</button>
            </div>
            <div class="info_div">
               
            </div>
        </form>
    </main>

</body>
</html>

